<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>Associated of Chinese Engineers</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="static/images/logo.png">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

  <!-- extra -->
  <link rel="stylesheet" href="static/css/extra.css">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="static/css/bootstrap.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="static/css/animate.min.css">
  <link rel="stylesheet" href="static/css/hs.megamenu.css">
  <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="static/css/jquery.fancybox.css">
  <link rel="stylesheet" href="static/css/slick.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="static/css/front.css">
</head>

<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
          data-header-fix-moment="500"
          data-header-fix-effect="slide">

    <div class="u-header__section">
      <!-- Topbar -->
      <div class="container u-header__hide-content pt-2">
        <div class="d-flex align-items-center mb-0">

          <div class="ml-auto">
            <!-- Links -->
            <div class="d-none d-sm-inline-block ml-sm-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="contact">Contacts</a>
                </li>
              </ul>
            </div>
            <!-- End Links -->
          </div>

        </div>
      </div>
      <!-- End Topbar -->

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="/" aria-label="Front">
            <img src="static/images/logo.png" alt="Logo" height="75" width="170">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          &emsp;&emsp;&emsp;
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <br>
          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse py-0">
            <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
              <!-- Home -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut"
                  data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;"
                   aria-haspopup="true"
                   aria-expanded="false">
                  Home
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu u-header__mega-menu-width-v1 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                  <div class="row p-0 mr-0">
                    <div class="col-lg-6 pr-0">
                      <!-- Banner Image -->
                      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="static/images/hands_up.jpg">
                        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                          <div class="mb-4">
                            <strong class="d-block u-header__banner-v1-title mb-2">Join us</strong>
                            <span class="u-header__banner-v1-text">Experience as one in this big family.</span>
                          </div>
                          <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="join">Learn More <span class="fa fa-angle-right ml-2"></span></a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                      <div class="row u-header__mega-menu-wrapper-v1">
                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Home</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li><a class="nav-link u-list__link py-2 px-0" href="/">Homepage</a></li>
                            <li><a class="nav-link u-list__link py-2 px-0" href="join">Join in</a></li>
                          </ul>
                          <!-- End Links -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Home -->

              <!-- Abouts -->
              <li class="nav-item hs-has-sub-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut">
                <a id="aboutMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                   aria-haspopup="true"
                   aria-expanded="false"
                   aria-labelledby="aboutSubMenu">
                  About
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- About - Submenu -->
                <ul id="aboutSubMenu" class="list-inline hs-sub-menu u-header__sub-menu py-3 mb-0" style="min-width: 220px;"
                    aria-labelledby="aboutMegaMenu">
                  <!-- About us-->
                  <li class="dropdown-item submenu">
                    <a id="navLinkAboutAbout" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="team"
                       aria-haspopup="true"
                       aria-expanded="false">
                      About us
                    </a>

                  </li>
                  <!-- About us-->

                  <!-- Contact -->
                  <li class="dropdown-item submenu">
                    <a id="navLinkAboutContact" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="contact"
                       aria-haspopup="true"
                       aria-expanded="false">
                      Contact us
                    </a>
                  </li>
                  <!-- Contact -->

                </ul>
                <!-- End Abouts - Submenu -->
              </li>
              <!-- End Abouts -->

              <!-- Events -->
              <li class="nav-item hs-has-sub-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut">
                <a id="newsMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                   aria-haspopup="true"
                   aria-expanded="false"
                   aria-labelledby="aboutSubMenu">
                  Events
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Events - Submenu -->
                <ul id="newsSubMenu" class="list-inline hs-sub-menu u-header__sub-menu py-3 mb-0" style="min-width: 220px;"
                    aria-labelledby="aboutMegaMenu">

                  <!-- Activities -->
                  <li class="dropdown-item submenu">
                    <a id="navLinknewsActivities" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="events"
                       aria-haspopup="true"
                       aria-expanded="false">
                      Upcoming
                    </a>
                  </li>
                  <!-- Activities -->

                  <!-- Other -->
                  <li class="dropdown-item submenu submenu-xs">
                    <a id="navLinknewsOther" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="previousEvents"
                       aria-haspopup="true"
                       aria-expanded="false">
                      Previous Events
                    </a>
                  </li>
                  <!-- Other -->

                </ul>
                <!-- End Events - Submenu -->
              </li>
              <!-- End Events -->

              <!-- Sponsors -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut"
                  data-max-width="440px"
                  data-position="right">
                <a id="SponsorsMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                   aria-haspopup="true"
                   aria-expanded="false">
                  Sponsors
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Sponsors - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="SponsorsMegaMenu">
                  <div class="u-header__mega-menu-wrapper-v1">
                    <strong class="d-block mb-2">Sponsors</strong>

                    <div class="row">
                      <div class="col-sm-12">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li><a class="nav-link u-list__link py-2 px-0" href="#">To</a></li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-12">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li><a class="nav-link u-list__link py-2 px-0" href="#">Be</a></li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-12">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li><a class="nav-link u-list__link py-2 px-0" href="#">Announced</a></li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>
                  </div>


                </div>
                <!-- End Sponsors - Mega Menu -->
              </li>
              <!-- End Sponsors -->

            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->
