$def with (headerhtml, footerhtml)

$:headerhtml
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-3-top--md u-space-05-top--sm u-space-03-top--xs u-space-0--lg min-height-100vh--lg">
      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="g-mb-32">
              <img src="../static/images/homepage.jpg" class="img-responsive d-lg-none d-xl-none">
              <div class="img-responsive d-lg-none d-xl-none"><br></div>
              <h1 class="display-4 font-size-48--md-down mb-3">In ACE,</h1>
              <p>
                You will have
                <span class="text-primary">
                  <strong class="u-text-animation u-text-animation--typing"></strong>
                </span>
                <br>
                The most important thing is, You can always find something interesting here in this family!
              </p>
            </div>

            <div class="d-flex align-items-center">
              <a class="btn u-btn-primary--air u-btn-wide transition-3d-hover" href="team">Learn More</a>
              <!-- Fancybox -->

              <a class="js-fancybox media align-items-center u-media-player ml-3" href="javascript:;"
                 data-src="https://www.youtube.com/embed/GviUqATo-ZU"
                 data-speed="700"
                 data-animate-in="zoomIn"
                 data-animate-out="zoomOut"
                 data-caption="相遇相知 - ACE Moive @ 2018">
                <span class="d-flex mr-3">
                  <span class="u-media-player__icon u-media-player__icon--success">
                    <span class="fa fa-play u-media-player__icon-inner"></span>
                  </span>
                </span>
                <span class="media-body">
                  Play video
                </span>
              </a>

              <!-- End Fancybox -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->

      <!-- SVG Background -->
      <div class="col-lg-9 col-xl-7 d-none d-lg-block position-absolute-top-right-0 pr-0" style="margin-top: 105.6px;">
        <figure class="w-100">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve">
            <path class="u-fill-primary" opacity=".05" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8
              c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"/>
            <g>
              <defs>
                <path id="heroBlock1" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6
                  l449.3-373.4V0z"/>
              </defs>
              <clipPath id="heroBlock2">
                <use xlink:href="#heroBlock1"  style="overflow:visible;"/>
              </clipPath>
              <g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#heroBlock2);">
                <!-- Apply your (750px width to 750px height) image here -->
                <image style="overflow:visible;" width="750" height="750" xlink:href="static/images/homepage.jpg"  transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
              </g>
            </g>
          </svg>
        </figure>
      </div>
      <!-- End SVG Background -->
    </div>
    <!-- End Hero Section -->

    <!-- Icon Blocks Section

    <div class="container u-space-2">
      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--info mb-2">Next Event?</span>
        <h2>BBQ Party</h2>
      </div>
      <div style="text-align: center">
        <img src="static/images/Events/bbq.jpg" style="max-height: 600px; max-width: 600px;" class="img-fluid d-md-block w-75 mx-auto mb-7">
      </div>

      <div class="w-50 w-md-40 w-lg-30 text-center mx-auto">
        <p class="small">If you want to learn more about this event. please click <a href="Event.html">here</a></p>
      </div>
    </div>
    End Icon Blocks Section -->

    <!-- Icon Blocks Section -->
    <div class="container u-space-0">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--success mb-2">What we do?</span>
        <h2>Everything you are searching for...</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-danger--air u-icon--xl rounded-circle mb-7">
              <span class="fab fa-yelp u-icon__inner u-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Professional Fair</h3>
            <p class="mb-md-0">We will organize career events every year for all students in the University.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-primary--air u-icon--xl rounded-circle mb-7">
              <span class="fas fa-fire u-icon__inner u-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Acedemic Boost</h3>
            <p class="mb-md-0">Are you frustrated in Engineering Strategy Practice? We offer CDS and LLS hackathon!</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-success--air u-icon--xl rounded-circle mb-7">
              <span class="fab fa-whmcs u-icon__inner u-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Party Time</h3>
            <p class="mb-md-0">Besides work and study, party is also what we care! We have several parties for reducing stress and making friends.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>

      <img class="img-fluid d-none d-md-block w-75 mx-auto mb-7" src="../static/images/svg-pointer1.svg" alt="SVG Arrow">

      <!-- Title -->
      <div class="w-md-60 w-lg-50 text-center mx-auto mb-7">
        <h4 class="h5">
          All in one. <span class="font-weight-normal">In ACE club.</span>
        </h4>
      </div>
      <!-- End Title -->

      <!-- Mockup Browser -->
      <div class="u-browser-v1 mx-auto mb-4">
        <!-- SVG Background Shape -->
        <figure>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 1109.8 797.1" style="enable-background:new 0 0 1109.8 797.1;" xml:space="preserve">
            <path class="u-fill-primary" opacity=".1" d="M105.1,267.1C35.5,331.5-3.5,423,0.3,517.7c5.8,145.3,110.7,314.2,588,273.1c753-64.7,481.3-358.3,440.4-398.3
              c-4-3.9-7.9-7.9-11.7-12L761.9,104.8C639.4-27.6,432.5-35.6,299.9,87L105.1,267.1z"/>
          </svg>
        </figure>
        <!-- End SVG Background Shape -->

        <!-- Mockup Browser -->
        <figure class="u-browser-v1__svg">

          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 857 670" style="enable-background:new 0 0 857 670;" xml:space="preserve">

            <g>

              <defs>
                <path id="browserV1_1" d="M833,665H25c-10.5,0-19-8.5-19-19V24.9c0-10.5,8.5-19,19-19h808c10.5,0,19,8.5,19,19V646C852,656.5,843.5,665,833,665z"/>
              </defs>
              <clipPath id="browserV1_2">
                <use xlink:href="#browserV1_1" style="overflow:visible;"/>
              </clipPath>

              <!-- Apply your (855px width to 655px height) image here -->
              <image style="overflow:visible;clip-path:url(#browserV1_2);" width="855" height="655" xlink:href="static/images/homepage2.jpg" transform="matrix(1 0 0 1.0075 0 0)"></image>

              <use xlink:href="#browserV1_1" class="u-fill-none u-stroke-white" stroke-width="10" stroke-miterlimit="10" style="overflow:visible;"/>

            </g>

            <g>
              <path class="u-fill-white" d="M856.8,40.2H0.8V19c0-10.5,8.5-19,19-19h818c10.5,0,19,8.5,19,19V40.2z"/>
            </g>

            <g>
              <ellipse class="u-fill-danger" cx="28.5" cy="20.1" rx="6" ry="6"/>
              <ellipse class="u-fill-warning" cx="48.4" cy="20.1" rx="6" ry="6"/>
              <ellipse class="u-fill-success" cx="68.4" cy="20.1" rx="6" ry="6"/>
            </g>
          </svg>
        </figure>
        <!-- End Mockup Browser -->
      </div>
      <!-- End Mockup Browser -->

      <div class="w-50 w-md-40 w-lg-30 text-center mx-auto">
        <p class="small">If you want to learn more about how to join us. please click <a href="Join.html">here</a></p>
      </div>
    </div>
    <!-- End Icon Blocks Section -->

    <!-- Icon Blocks Section -->
    <div class="container u-space-2">
      <!-- Title -->
      <div class="w-md-100 w-lg-80 text-center mx-auto mb-9">
        <span class="u-label u-label--sm u-label--primary mb-2">Sponsers</span>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">top Sushi</div>
          <div class="col-sm-6 col-md-6 col-lg-4">Kowloon Dim sum</div>
          <div class="col-sm-6 col-md-6 col-lg-4">T-Swirl Crepe</div>
          <div class="col-sm-6 col-md-6 col-lg-4">HCR</div>
          <div class="col-sm-6 col-md-6 col-lg-4">7 Dim Sum</div>
          <div class="col-sm-6 col-md-6 col-lg-4">Chaplus</div>
          <div class="col-sm-6 col-md-6 col-lg-4">Bboss KTV</div>
          <div class="col-sm-6 col-md-6 col-lg-4">Sumac Kebab kitchen</div>
          <div class="col-sm-6 col-md-6 col-lg-4">George Gan</div>
          <div class="col-sm-6 col-md-6 col-lg-4">Pizzaiolo</div>
          <div class="col-sm-6 col-md-6 col-lg-4">ENgineering Fastlane</div>
          <div class="col-sm-6 col-md-6 col-lg-4">Charidise</div>
          <div class="col-sm-6 col-md-6 col-lg-4">川味轩</div>
          <div class="col-sm-6 col-md-6 col-lg-4">寻味云南</div>
          <div class="col-sm-6 col-md-6 col-lg-4">梦上日光</div>
          <div class="col-sm-6 col-md-6 col-lg-4">四川仁</div>
          <div class="col-sm-6 col-md-6 col-lg-4">1915兰州拉面</div>
          <div class="col-sm-6 col-md-6 col-lg-4">龙叙轩</div>
          <div class="col-sm-6 col-md-6 col-lg-4">福稻过桥米线</div>
          <div class="col-sm-6 col-md-6 col-lg-4">满庭芳</div>
          <div class="col-sm-6 col-md-6 col-lg-4">天安食府传奇美食</div>
          <div class="col-sm-6 col-md-6 col-lg-4">老鸡购车</div>
          <div class="col-sm-6 col-md-6 col-lg-4">小沙田食家</div>
        </div>
      </div>
      <!-- End Title -->
    </div>
    <!-- End Icon Blocks Section -->

  </main>
  <!-- ========== END MAIN CONTENT ========== -->
$:footerhtml
