$def with (headerhtml, footerhtml)

$:headerhtml
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">

      <!-- Content -->
      <div class="container titleTop-xs titleTop-sm titleTop-md" style="text-align: center;">
        <div class="main">
          <!-- Title Begin -->
          <h2 style="letter-spacing: 0.5px; font-weight: bold">Want to join us?</h2>
          <!-- Title End -->
          <!--
          <p style="margin-top: 20px; font-size: 14px; color: #0a0a0a">Sorry, the recruitment is now over. Please wait for the next recruitment or
          you can follow our WeChat official account for more information.</p>
          -->
          Want join us? We Are Waiting For You!!
          <a href="https://mp.weixin.qq.com/s/-NwrHvWWlNXyzzT3-89IKg">I AM IN!!</a>
          <hr>
          <img src="../static/images/QRCode.jpg" style="max-height: 250px; max-width: 250px" class="img-responsive">

        </div>
      </div>

  </main>
  <!-- ========== END MAIN CONTENT ========== -->
$:footerhtml