$def with (headerhtml, footerhtml)

$:headerhtml
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">

      <!-- Content -->
      <div class="container titleTop-xs titleTop-sm titleTop-md" style="text-align: center;">
          <!-- Title Begin -->
          <h2 style="letter-spacing: 0.5px; font-weight: bold">Error404 - page not found</h2>
          <!-- Title End -->
          <div class="alert alert-danger" role="alert">
          sorry. The page cannot be load right now. Take me back to the <a href="/" class="alert-link">index page</a>.
        </div>
      </div>

  </main>
  <!-- ========== END MAIN CONTENT ========== -->
$:footerhtml