$def with (headerhtml, footerhtml)

$:headerhtml
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Content -->
  <div class="container titleTop-xs titleTop-sm titleTop-md">

    <!-- Event5 -->
    <h4 style="margin-left: 20px; margin-bottom: 20px">· 2018-10-07 BBQ Party</h4>
    <div class="row">
      <div class="col-sm-6">
        <div style="margin: 10px">
          <div style="margin: 10px">
            <img src="../static/images/Events/bbq.jpg" class="img-responsive" style="border-radius: 10px">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p style="margin: 20px; font-size: 18px;">
          &ensp;&ensp;&ensp;&ensp;现在正值秋高气爽的好时候，
          出去烧烤一波怎么样！
          长周末都来了，你还在家学习？？？<br>
          ACE已经为你精心策划了一场BBQ派对
          什么都不用想，只管吃肉就好！
        </p>
        具体信息：<a href="https://mp.weixin.qq.com/s/BuW6Np3c-U11aF4jrspJWg">秋风正好，一起撸串去～</a>
        <br>
        报名方式：ACE将在周一到四（10月1日－10月4日）12点～2点在SF pit 的ACE Booth卖票！
      </div>
    </div>
    <!-- End Event5 -->

    <hr>

    <!-- Event4 -->
    <h4 style="margin-left: 20px; margin-bottom: 20px">· 2018-09-29 Sports Competition</h4>
    <div class="row">
      <div class="col-sm-6">
        <div style="margin: 10px">
          <div style="margin: 10px">
            <img src="../static/images/Events/sports.jpg" class="img-responsive" style="border-radius: 10px">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p style="margin: 20px; font-size: 18px;">
          &ensp;&ensp;&ensp;&ensp;学期开始两周多，大家是不是已经快（or已经）感受到排山般涌来的ddl啦？是不是希望找一个下午，
          抛掉所有的problem set，due day 和苦恼，和小伙伴们开心地尝试下各式各样有趣的游戏？那么就一定要来ACE这次的sports competition。
        </p>
        具体信息：<a href="https://mp.weixin.qq.com/s/ihrFIDJnJF3k8Gj7YEwQnw">Sports Competition燥起来！</a>
        <br>
        报名方式：报名已经关闭
      </div>
    </div>
    <!-- End Event4 -->

    <hr>

    <!-- Event3 -->
    <h4 style="margin-left: 20px; margin-bottom: 20px">· 2018-09-17 Recruitment</h4>
    <div class="row">
      <div class="col-sm-6">
        <div style="margin: 10px">
          <div style="margin: 10px">
            <img src="../static/images/Events/recruitment.jpg" class="img-responsive" style="border-radius: 10px">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p style="margin: 20px; font-size: 18px;">
          &ensp;&ensp;&ensp;&ensp;“如何真正成为ACE的一员？”<br>
          &ensp;&ensp;&ensp;&ensp;UTACE招新啦！在这里，你所有的奇思妙想都可以得到实现。和我们在一起，你都会收获很多，暖心的瞬间，快乐的瞬间，感动的瞬间。我们在这里等待着你的加入。
        </p>
        推文链接：
        <br>
        报名方式：
      </div>
    </div>
    <!-- End Event3 -->

    <hr>

    <!-- Event2 -->
    <h4 style="margin-left: 20px; margin-bottom: 20px">· 2018-09-10 Orientation</h4>
    <div class="row">
      <div class="col-sm-6">
        <div style="margin: 10px">
          <div style="margin: 10px">
            <img src="../static/images/Events/orientation.jpg" class="img-responsive" style="border-radius: 10px">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p style="margin: 20px; font-size: 18px;">
          &ensp;&ensp;&ensp;&ensp;一年一度的工程新生会即将开始！乘着刚刚开学，快来参加ACE为你准备的开学第一场趴体。
        </p>
        推文链接：
        <br>
        报名方式：
      </div>
    </div>
    <!-- End Event2 -->

    <hr>

    <!-- Event1 -->
    <h4 style="margin-left: 20px; margin-bottom: 20px">· 2018-09-05 Club Day</h4>
    <div class="row">
      <div class="col-sm-6">
        <div style="margin: 10px">
          <div style="margin: 10px">
            <img src="../static/images/Events/clubday.jpg" class="img-responsive" style="border-radius: 10px">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p style="margin: 20px; font-size: 18px;">
          &ensp;&ensp;&ensp;&ensp;自由的暑假，也是彻底画上了一个句号。我们即将开学啦！新的一学年，新的开始。不管你之前是否听说过UTACE，是否参加过我们的活动，都欢迎你来看看我们～
        </p>
        推文链接：
        <br>
        报名方式：
      </div>
    </div>
    <!-- End Event1 -->

    <hr>
  </div>
  <!-- End Content -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
$:footerhtml