$def with (headerhtml, footerhtml)

$:headerhtml
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">

      <!-- Content -->
      <div class="container titleTop-xs titleTop-sm titleTop-md" style="text-align: center;">
        <div class="main">
          <h4>Association of Chinese Engineers</h4>
          <h6 class="subtitle" style="font-size: 16px">Here is supposed to be a motto, but unfortunately we don't have one :)</h6>
          <p class="paragraph">ACE is a student-run, non-profit organization dedicated to promoting Chinese culture, as well as fostering friendship and communication between its members.
            As the unique Chinese culture club in the engineering faculty, ACE is a newly formed club merged from two original cultural clubs, Chinese Engineering Students
            Association (CESA) and Engineering Chinese Club (ECC) in 2016 summer, with 30 executives and around 600 active members annually from CESA and ECC in the past.</p>
          <img src="../static/images/aboutus.jpg" class="img-responsive">
            <div class="photo">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6"><img src="../static/images/VP/Bond_Co-President.jpg" class="img-responsive">Bond - Co-President</div>
                <div class="col-sm-12 col-md-6 col-lg-6"><img src="../static/images/VP/Tian_Co-President.jpg" class="img-responsive">Tian - Co-President</div>
              </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4"><img src="../static/images/VP/Aron_Events_VP.jpg" class="img-responsive">Aron - VP Events</div>
                    <div class="col-sm-12 col-md-4 col-lg-4"><img src="../static/images/VP/Tony_Events_VP.jpg" class="img-responsive">Tony - VP Events</div>
                    <div class="col-sm-12 col-md-4 col-lg-4"><img src="../static/images/VP/Shellen_External_VP.jpg" class="img-responsive">Shellen - VP External</div>
                </div>
              <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4"><img src="../static/images/VP/Emily_marketing_VP.jpg" class="img-responsive">Emily - VP marketing</div>
                <div class="col-sm-12 col-md-4 col-lg-4"><img src="../static/images/VP/Cassie_marketing_VP.jpg" class="img-responsive">Cassie - VP marketing</div>
                <div class="col-sm-12 col-md-4 col-lg-4"><img src="../static/images/VP/Shine_Internal_VP.jpg" class="img-responsive">Shine - VP Internal</div>
              </div>
            </div>
        </div>
      </div>

  </main>
  <!-- ========== END MAIN CONTENT ========== -->
$:footerhtml